RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  text-align: center;
  color: hsl(210, 10%, 33%);
  background: url('images/bg-header-mobile.png') no-repeat top center;
  background-size: contain;
  padding: 80px 20px;